<doctype HTML5>
<html lang="en-US">
<head>
    <meta charset="utf -8">
    <title>Phonebook Query</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id = "banner">
<center><i>Mined Minds Phonebook<i></center>
</div>
<div id = "info_boxes">
<h4>Add your information to our secure online database</h4>
<form class="phone" action="/selection" method="POST">
<div class="input-group">

<input type="text" class="form-control" name="first_name" placeholder="first_name">
<input type="text" class="form-control" name="last_name" placeholder="last_name">
<input type="text" class="form-control" name="address" placeholder="Street Address">
<input type="text" class="form-control" name="city" placeholder="City">
<input type="text" class="form-control" name="state" placeholder="State">
<input type="text" class="form-control" name="zip" placeholder="zip">
<input type="text" class="form-control" name="phone" placeholder="(000)000-0000">
<input type = "text" name = "email" placeholder = "Email@blah.com">
<input type="submit" onclick= "">
</div>
</form>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search by name">
<table id="myTable">
  <tr class="header">
    <th>First Name</th>
    <th>Last Name</th>
    <th>St Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
 
<%phonebook.each do |value|%>
<tr>
<td><%=value['first_name']%> </td>
<td><%=value['last_name']%> </td> 
<td><%=value['address']%> </td> 
<td><%=value['city']%> </td>
<td><%=value['state']%> </td>
<td><%=value['zip']%> </td>  
<td><%=value['phone']%> </td> 
<td><%=value['email']%> </td> 
</tr>
<%end%>
</table>
<script>
function searchFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
 <form action='/update_column' method='post'>

   	<select name='table_column'>
		<option value='col_first_name'>First Name</option>
		<option value='col_last_name'>Last Name</option>
		<option value='col_address'>Street Address</option>
		<option value='col_city'>City</option>
		<option value='col_state'>State</option>
		<option value='col_zip'>Zip</option>
		<option value='col_phone'>Phone Number</option>
		<option value='col_email'>Email</option>
	</select>
	<br>

	   <input type="text" name="new data" placeholder="new_data"><br>
	   <input type="text" name="old data" placeholder="old_data"><br>
	   <input type="submit" value="Update">
   </form>

   <br>
   <br>

   <form action='/delete' method='post'> Delete your information by:<br>

   	<select name='table_column'>
		<option value='col_first_name'>First Name</option>
		<option value='col_last_name'>Last Name</option>
		<option value='col_address'>Street Address</option>
		<option value='col_city_state_zip'>City</option>
		<option value='col_phone_num'>Phone Number</option>
		<option value='col_email'>Email Adress</option>
	</select><br>
   <input type="text" name="data_to_delete" placeholder="Delete Info"><br>
	

	   <input type="submit" value="Delete">
</form>
   	