<h4>Add your information to our secure online database</h4>
<form class="phone" action="/selection" method="POST">
<div class="input-group">
<input type="text" class="form-control" name="first_name" placeholder="first_name">
<input type="text" class="form-control" name="last_name" placeholder="last_name">
<input type="text" class="form-control" name="address" placeholder="Street Address">
<input type="text" class="form-control" name="city" placeholder="City">
<input type="text" class="form-control" name="state" placeholder="State">
<input type="text" class="form-control" name="zip" placeholder="zip">
<input type="text" class="form-control" name="phone" placeholder="(000)000-0000">
<input type = "text" name = "email" placeholder = "Email@blah.com">
<input type="submit">
</div>
</form>
<input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for names..">
<table id="myTable">
  <tr class="header">
    <th style="width:10%;">First Name</th>
    <th style="width:10%;">Last Name</th>
    <th style="width:20%;">St Address</th>
    <th style="width:10%;">City</th>
    <th style="width:5%;">State</th>
    <th style="width:5%;">Zip</th>
    <th style="width:10%;">Phone</th>
    <th style="width:15%;">Email</th>
  </tr>
  <%=phonebook%>
<%phonebook.each do |value|%>
<tr>
<br><td><%=value['first_name']%> </td>
<td><%=value['last_name']%> <td> 
<td><%=value['address']%> <td> 
<td><%=value['city']%> <td>
<td><%=value['state']%> <td>
<td><%=value['zip']%> <td>  
<td><%=value['phone']%> <td> 
<td><%=value['email']%> <td>  <br>
	

</tr>
<%end%>
</table>
<script>
function searchFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
